*body{
    background-color: rgb(255, 255, 255);
}

.hero__main{
    width: 100%;
    --padding-container: 40px 0 60px;

    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

.hero__figure{
    grid-column: 1/4;
    padding: 2rem 0;
    position: absolute;
    
    align-items: flex-end;
    
    margin-left: 750px;
    } 

.hero__figure::before{
    content: "";
    position: absolute;
    background-color: var(--soft-blue);
    width: 60%;
    max-width: 450px;
    bottom: 30px;
    top: 30%;
    right: 0;

    border-radius: 100px 0 0 100px;
    z-index: -1;
}

.hero__img{
    width: 55%;
    margin: 0 auto;
    
    justify-content: right;
    align-content: flex-end;
    
}
.hero__texts{
    text-align:left;
    grid-column: 2/3;
    margin-left: 150px;
    margin-top: 100px;
}

.hero__title{
    font-size: 300%;
    color: var(--very-dark-blue);
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;

    }

    .hero__paragraph{
        color: gray;
        line-height: 1.5;
        margin: 1.3rem 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .hero__buttons{
        display: flex;
        justify-content:first baseline;
        gap: 2rem;
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .hero__button{
        background-color: var(--soft-blue);
        color: #ffffff;
        background-color: #000;
        text-decoration: none;
        padding: 1rem;
        font-weight: 300;
        border-radius: 15px;
        margin-bottom: 10px;
    
        box-shadow: -5px 2px 3px var(--grayish-blue-alpha);
    }

    .logos{
        margin-top: 90px;
        display: flex;
        grid-gap: 20px;
        margin-left: 240px;
        height: 20px;
    }

    .features{
        display: grid;
        grid-template-columns: 5% 1fr 5%;
    }
    
    .features__content{
        grid-column: 2/3;
        text-align: center;
        font-size: 100%;
    }
    
    .features__title{
        font-size: 200px;
        color: var(--very-dark-blue);
        color: rgb(67, 67, 109);
        font-size: 1.7rem;
        margin-top: 180px;
    }
    
    .features__paragraph{
        line-height: 1.5;
        color: gray;
        margin: 1rem auto 2.5rem ;
        max-width: 400px;
    }
    
    .features__list{
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    
    .features__element{
        border-top: 1.5px solid var(--grayish-blue);
    }
    
    .features__element:last-child{
        border-bottom: 1.5px solid var(--grayish-blue);
    }
    
    .features__tab{
        display: inline-block;
        padding: 1.5rem 0;
        text-decoration: none;
        color: var(--grayish-blue);
        font-weight: 500;
        border-bottom: 5px solid transparent;
    
        transition: border-color .7s;
    }
    
    .features__tab--active{
        border-color: var(--soft-red);
    }
    
    .features__container{
        grid-column: 1/-1;
        display: flexbox;
        grid-template-areas: "article";
    }
    
    .features__article{
        grid-area: article;
        opacity: 0;
        pointer-events: none;
    
        transition: opacity .6s;
    }
    
    .features__article--active{
        pointer-events: unset;
        opacity: 1;
    }
    
    .features__figure{
        padding: 3rem 0;
        position: relative;
    }
    
    .features__img{
        width: 80%;
        margin: 0 auto;
        max-width: 450px;
    }
    
    .features__figure::before{
        content: "";
        position: absolute;
        background-color: var(--soft-blue);
    
        height: 150px;
        width: 50%;
        max-width: 450px;
        bottom: 0;
        left: 0;
        border-radius: 0 100px 100px 0;
    
        z-index: -1;
        
    }
    
    .features__texts{
        width: 90%;
        margin: 0 auto;
        margin-top: 3rem;
        text-align: center;
    }
    
    .features__subtitle{
        color: var(--very-dark-blue);
        font-size: 1.7rem;
    }
    
    
    .features__copy{
        color: var(--grayish-blue);
        line-height: 1.5;
        margin-top: 1.2rem;
    }
    
    .features__cta{
        display: flexbox;
        margin-top: 1.2rem;
        padding: 1rem 1.5rem;
        background-color: var(--soft-blue);
        border-radius: 3px;
        text-decoration: none;
        color:#fff;
    }
