@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

$color-main-gray: #929292;
$color-silver: #cecdcd;
$color-black:#080808;
$font-family-poppins:'Poppins', sans-serif;